<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cache Them All</title>
</head>
<body>
    <h1>Cache Them All!</h1> 

    <div class="create-button">
        <a href="pokemon/new"><button>Create New Pokemon</button></a>
    </div>
    
    <div class="index-container">
        <% pokemons.forEach((pokemon, index) => { %>

    <div class-index-pokemon>
        <a href="/pokemon/<%= pokemon._id %>"><h2><%=pokemon.name %></h2></a>
        <img src="<%= pokemon.img %>">
        <% }) %>
    </div>
    </div>
</div>
</body>
</html>