<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <a href="pokemon/new"><button>Create New Pokemon</button></a>

    <h1>List of Pokemons</h1>
        <ul>
            <% pokemons.forEach((pokemon, index) => { %>
                <li>
                    <a href="/pokemon/<%= pokemon._id %>"><h2><%=pokemon.name %></h2></a>
                    <img src = "<%= pokemon.img %>">
                </li>
            <% }) %>
        </ul>
</body>
</html>