<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./imports.ejs") %>
</head>
<body>
    <div class="top">
        <h1>Pokedex</h1>
        <a href="/pokemon/new"><button class="add"></button></a>
    </div>

    <div class="bottom">
        <ul>
            <% for (let i=0; i<pokemon.length; i++) { %>
                <li>
                    <a href="/pokemon<% i %>"><img src="<%= pokemon[i].img %>" alt="Pokemon"></a>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>