* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: rgb(66, 195, 107);
  }
  
  h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
  }
  
  .create-button {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  
  .index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .index-pokemon {
    display: grid;
    grid-template-columns: auto;
    width: 110px;
    height: 10px;
    margin: .5rem;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  
  .index-pokemon a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .index-pokemon .index-image {
    height: 7rem;
    border-radius: 12px;
  }
  
  .index-pokemon .index-name {
    margin: 0;
  }
  
  .banner {
    background-color: rgb(61, 116, 78);
    color: black;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  
  .button-container button {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .delete-form {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .name {
    font-size: 30px;
    text-align: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .column {
    text-align: center;
  }